* {
    box-sizing: border-box;
    width: 100%;
}
@media (min-width:923px)
{
    #titl {
    font-family: 'Indie Flower', cursive;
    display:flex;
    flex:1;
    float:left;
    font-size:4vw;
    padding:0;
    margin-top: 0.2vh;
    margin-right: 5vw;
    }

    body{
    margin: 0vw;
    flex-basis:100%;
    }

   .flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:1vw 1vw 1vw 1vw;
    } 

    .flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1vw 1vw 1vw 1vw;
    }

    html {
    font-family: 'Sawarabi Mincho', sans-serif;
    }
    .headr {
    display: flex;
    background-image:url("../img/cubbonpavilion.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   /* width:500em; */
    height: 80vh;
    margin:auto;
    padding-top:4vh;
    padding-bottom: 4vh; 
    }
    
    .headr h1 {
    position: relative;
    padding: 10vw 4vw 10vw 4vw;
    font-size: 6vw;
    color: white;
    }

    .headr strong {
    font-size: 8vw;
    color: red;
    }

    .flex-container
    {
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    }
 
    .flex_container img {overflow:hidden;}

    .flex11{
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }
    
    .flex12{
    
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }
    
    .flex13{
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }
 
    .flex14{
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }
    
    .flex15{
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }
    
    .flex16{
    display: flex;
    flex:1;
    position: relative;
    float: left;
    flex-direction: column;
    margin: 1vw 1vw 1vw 1vw;
    }

    .video1 {
    display:flex;
    flex-direction:row;
    }

    #a2 {
     display: flex;
    background-color: #273746  ;
    /*background-image: url("../img/food1.jpg");*/
    background-width: 100vw;
    /*background-repeat: no-repeat;*/
    flex: 1;
   flex-direction: row;
   border-color: black;
    }

    #a2 p {
    display: flex;
    flex-direction: column;
    }
    .top {
     background-color:rgb(255,0,0);
    height:10%;
    width: 100%;
    display: flex;
    border-width: 1vw 1vw 1vw 1vw;
    margin-bottom: 0vw;
    padding-bottom:0vw; 
    list-style-position: fixed;
    /*position: fixed;*/
    z-index: 99999;
    flex-flow: row wrap; 
    position: fixed;
    top: 0;
    }

    .top a {
    position: relative;
    padding-left:6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
    flex:1;
    flex-direction: row;
    size: 4vw;
    }

    .top a:hover {
    font-size: 1.8vw;
    color: black;
    }
}




/*.fa {
    display: flex;
    padding: 2vw;
    font-size: 3vw;
    width: 3vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    justify-content: space-between;
} */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  display:flex;
 /* background: #3B5998;*/
  color: white;
  width: 5vw;
  height: 5vh;
}

.fa-twitter {
    display:flex;
  /*background: #55ACEE;*/
  color: white;
  width: 5vw;
  height:5vh;
}

.fa-linkedin {
    display: flex;
 /* background: #007bb5;*/
  color: white;
  width: 5vw;
  height:5vh;
} 

.fa-instagram {
    display: flex;
  /*background: #125688;*/
  color: white;
  width: 5vw;
  height:5vh;
}

.fa-google {
    display:flex;
    color:white;
    width:5vw;
    height:5vh;
}
#a2 {
    display:flex;
    flex-direction: column;
    height:5%;
}
.foo1 {
    
    flex:1;
    order: 2;
    flex-direction: column;
}

.foo2 {
   
    flex:1;
    order:1;
    flex-direction: column;
}

.foo2 li {
    display:inline;
    position:relative;
    margin-left:1.3vw;
}

.foo3 {
    
   background-image: url("../img/food1.jpg");
   width:100%;
   height:50vw;
}

.foo3 input[type=text], textarea {
   size: 40vw 100vh;
    
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
}

input[type=text],textarea {
    width: 100%;
    padding: 1.2vw;
    
    margin-top: 0.6vw;
    margin-bottom: 0.8vw;
    resize: vertical;
}




@media (max-width: 923px){
    body{
        display:flex;
        flex-direction: column;
        margin-top:0;
        margin-left:0;
    }

    #titl {
        font-family: 'Indie Flower', cursive;
        display:flex;
        font-size: 8vw;
        padding-left:30vw;
        text-align:center;
        margin-right: 5vw;


    }

    .top {
        display:flex;
        flex-direction:column;
        background-color:rgb(255,0,0);
        flex-wrap: wrap;
        height: 40%
    }
    .top a{
        flex: 0;
        display: block; 
        width: 100%;
        height: 40%;
    }

    .top a {
    /*position: relative;*/
    padding-left:6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
    flex:1;
    /*flex-direction: row;*/
    size: 4vw;
    text-align: center;
    }

    .top a:hover
      {
        background-color: rgba(255,100,0,0.7);
        /*opacity:0.7; */
      }
    .headr {
       margin-top: 40%;
        background-width:100%;
    }

    .flex1 {flex-direction: column;}
    .flex2 {flex-direction: column;}
    
   .fa {
    display: flex;
    padding: 2vw;
    font-size: 3vw;
    width: 3vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    justify-content: space-between;
}

    .fa:hover {
    opacity: 0.7;
    }

    .fa-facebook {
  display:flex;
 /* background: #3B5998; */
  color: white;
    }

    .fa-twitter {
    display:flex;
  /*background: #55ACEE;*/
  color: white;
    }

    .fa-linkedin {
    display: flex;
  /*background: #007bb5;*/
  color: white;
    }

    .fa-instagram {
    display: flex;
  /*background: #125688;*/
  color: white;
    }
    #a2 {
        flex-direction: column;
    }
}

@media (min-width: 310px) and (max-width: 923px){

    .top {
        display:flex;
        flex-direction:column;
        height: 40vw;
        background-color:rgb(255,0,0);
        position: fixed;
        z-index:99999;
        margin-top:0;

    }
    #titl {
        text-align:center;
        margin-top:0;
        padding-bottom: 1vw;
    }

    .top a {
        text-align: center;
        flex-direction:column;

    }

    .top a:hover {
        size:5vw;
        background-color:rgba(0,0,255,0.2);
    }
    .headr
    {
        margin-top:40vh;
        text-align: center;
    }
    .headr {
    display: flex;
    background-image:url("../img/cubbonpavilion.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   /* width:500em; */
    height: 40vh;
   margin-top:40%;

   /*padding-top:2vh;*/
    /*padding-bottom: 4vh; */
    }

    .headr h1 {
    margin-top: 20%;
    position:relative;
    color:white;
    }

    .headr strong {
    color:red;
    font-size: 8vw;
    }

    .video1 {
    display:flex;
    flex-direction:column;
    }
    #a2
    {
      display:flex;
      flex-direction: column;
      /*background-image: url("../img/food1.jpg");*/
      background-color: #273746  ;
      max-height: 15%;

    }
     .fa {
        display:inline;
   
    
    padding-right: 0.05em;
    padding-left: 0.05em;
    /*font-size: 1vw;*/
    width: 0.5em;
    /*text-align: center; */
    text-decoration: none;
    border-radius: 20%;
    justify-content: space-between;
    }
    .foo3 {
    
   background-image: url("../img/food1.jpg");
   /*width:100%;
   height:50vw;
   background-size: auto; */
   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
    }

    .foo3 input[type=text], textarea {
   size: 40vw 100vh;
    
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    }

    .foo3 input[type=text],textarea {
    display:flex;
    width: 100%;
    /*padding: 1.2vw;*/
   
    padding-top: 0;

    position:relative;
    /*margin-bottom: 5vw;*/
    height: 10%;
    }
    input[type=submit] {
    
    display:flex;
    margin-left:30vw;
    min-width:15%;
    text-align: center;
    
    }
    .foo2 li i{
   
    margin-left:0.01em;
    display:inline;
    margin-right:0.01em;
    text-align: center;
     justify-content: space-around;
     text-decoration: none;
    }

    .fa-facebook {
   font-size:2em !important;
   }
    .fa-twitter {
   font-size:0.1em;
    }
    .fa-instagram {
    font-size:0.1em ;
    }
    .fa-linkedin {
    font-size:0.1em;
    }
    .fa-google {
   font-size:0.1em;
    }
    .fa
    {
    width:50%;
    text-align:center;
    }

}

